* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.styleNav {
  background-color: #212529;
  width: 150px;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.styleNav li {
  padding: 50px;
}
.styleNav a {
  font-size: 25px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}
.styleNav a:hover {
  color: #f15a22;
}
.logo {
  margin: 25px;
  height: 48px;
  width: 48px;
}
