* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-family: "Titillium Web", sans-serif;
}

.Container {
  background-color: #ffffff;
  display: flex;
  height: 100vh;
}
.fixed {
  background-color: #212529;
  width: 200px;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  border-right: 5px solid #f15a22;
}
.fixed li {
  list-style: none;
  padding: 25px;
  text-align: center;
}
.fixed a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  transition: 300ms;
}
.fixed a:hover {
  color: #f15a22;
}
.fixed img {
  height: 96px;
  width: 96px;
}
.fixed li a.active {
  color: #f15a22;
}

.fixed li a:hover:not(.active) {
  color: #f15a22;
}
.flex-item {
  margin-top: 120px;
  padding: 25px;
  background-color: #ffffff;
  flex-grow: 1;
}
.flex-itemGrid {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-gap: 10px;
}
/*ColorScheme text areal*/
.flexTxtDiv {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*ColorScheme*/
.flexdiv1 {
  height: 100px;
  width: 100px;
  background-color: #f15a22;
  border: 2px solid black;
}
.flexdiv2 {
  height: 100px;
  width: 100px;
  background-color: #212529;
  border: 2px solid black;
}
.flexdiv3 {
  height: 100px;
  width: 100px;
  background-color: #081225;
  border: 2px solid black;
}
.flexdiv4 {
  height: 100px;
  width: 100px;
  background-color: #eeeeee;
  border: 2px solid black;
}
.flexdiv5 {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  border: 2px solid black;
}
/*Knapper*/
.firstBtn {
  background-color: #f15a22;
  width: 140px;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondBtn {
  background-color: #f15a22;
  border-radius: 3px;
  width: 140px;
  height: 50px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondBtn:hover {
  background-color: #394147;
}
.thirdBtn {
  border: 2px solid #eeeeee;
  border-radius: 100px;
  box-shadow: black;
  width: 140px;
  height: 50px;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourthBtn {
  background-color: #f15a22;
  border-radius: 3px;
  width: 80px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourthBtn:hover {
  background-color: #d86842;
}

a.button {
  margin: 20px;
  font-size: 20px;
}

.arrow {
  color: #888888;
  margin: 1em 0;
}
.arrow::after {
  display: inline-block;
  padding-left: 8px;
  content: "\0279E";
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.arrow:hover::after {
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);
}

.font1{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.font2{
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

input[type=text], select, textarea {
  width: 138px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
