* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}



.styleWrapper {
    display: flex;
    justify-content: space-around;
    width: 150px;
    min-height: 100vh;
    background-color: #212529;
    z-index: 3;
  }

  .logo  {
      height: 72px;
      width: 72px;
  }
  
  .styleNav{
    display: flex;
    justify-content: space-around;
    flex-direction:column; 
    list-style: none;
  }
  .styleNav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
  }
  .styleNav a:hover {
    color: #F15A22;
  }