 @charset "UTF-8";

 * {
     box-sizing: border-box;
     line-height: 1.6;
     margin: 0;
     padding: 0;
     font-family: 'Titillium Web',
         sans-serif;
 }

 /*Loginside*/
 .login {
     margin-top: 5rem;
     text-align: center;
 }

 .loginLogo {
     width: 100%;
     height: auto;
 }

 .loginInput input[type=text],
 input[type=password] {
     width: 20%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
 }

 .loginInput button {
     background-color: #F15A22;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 10%;
 }

 .loginInput a {
     text-decoration: none;
     color: white;
 }

 /*Loginside slut*/

 /*Navbar*/
 .navbar {
     top: 0;
     width: 100%;
     font-size: 18px;
     background-color: #212529;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
     padding-bottom: 10px;
 }

 .main-nav {
     list-style-type: none;
     display: none;
 }

 .nav-links,
 .logo {
     text-decoration: none;
     color: #EEEEEF;
 }

 .main-nav li {
     text-align: center;
     margin: 15px auto;
 }

 .logo {
     text-decoration: none;
     display: inline-block;
     font-size: 35px;
     margin-top: 10px;
     margin-left: 20px;
 }

 .nav-links {
     font-size: 20px;
     font-family: 'Rubik',
         sans-serif;
 }

 .navbar-toggle {
     vertical-align: middle;
     position: absolute;
     top: 15px;
     right: 20px;
     cursor: pointer;
     color: #1b2021;
     font-size: 24px;
 }

 #chkToggle {
     display: none;
 }

 #chkToggle:checked+ul.main-nav {
     display: block;
 }

 li a:hover {
     text-decoration: none;
     color: #1b2021;
 }

 .fa {
     color: white;
 }

 /*Navbar slut*/



 /*Nyt layout*/
 .breadcrumb {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }


 .breadcrumb h1 {
     text-align: center;

 }

 .breadcrumbHrLeft {
     text-align: right;
     margin: 0 0 0 auto;
     width: 50%;
     color: #F15A22;
     background: #F15A22;
     height: 10px;
     border: none;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
 }

 .breadcrumbHrMid {
     text-align: center;
     margin: 0 auto;
     width: 100%;
     color: #F15A22;
     background: #F15A22;
     height: 10px;
     border: none;

 }

 .breadcrumbHrRight {
     text-align: left;
     margin: 0 auto 0 0;
     width: 50%;
     color: #F15A22;
     background: #F15A22;
     height: 10px;
     border: none;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
 }

 .breadcrumbNotActive {
     color: grey;
 }

 /*Nyt layout slut*/

 /*Mediaqueries*/
 @media screen and (min-width: 1000px) {
     .navbar {
         display: flex;
         justify-content: space-between;
         padding-bottom: 0;
         height: 70px;
         align-items: center;
     }

     #chkToggle:checked+ul.main-nav {
         display: flex;
     }

     .main-nav {
         display: flex;
         margin-right: 30px;
         flex-direction: row;
         justify-content: flex-end;
     }

     .main-nav li {
         margin: 0;
     }

     .nav-links {
         margin-left: 40px;

     }

     .logo {
         margin-top: 0;
     }

     .navbar-toggle {
         display: none;
     }

     .nav-links:hover {
         color: white;
         text-decoration: none;
     }
 }

 /*Mediaqueries slut*/