@charset "UTF-8";

* {
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}

/*Loginside*/
.login {
  margin-top: 5rem;
  text-align: center;
}

.loginLogo {
  width: 100%;
  height: auto;
}

.loginInput input[type="text"],
input[type="password"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginInput button {
  background-color: #f15a22;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

.loginInput a {
  text-decoration: none;
  color: white;
}

/*Loginside slut*/

/*Navbar*/
.navbar {
  top: 0;
  width: 100%;
  font-size: 18px;
  background-color: #212529;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #eeeeef;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-links {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}

.navbar-toggle {
  vertical-align: middle;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: #1b2021;
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked+ul.main-nav {
  display: block;
}

li a:hover {
  text-decoration: none;
  color: #1b2021;
}

.fa {
  color: white;
}

/*Navbar slut*/

/*Nyt layout*/
.breadcrumb {

  margin: auto;
}

.breadcrumbContainer {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  border-top: 2px solid #f15a22;
  padding-top: 15px;
  margin-top: 15px;
}

.breadcrumbContainer div {
  font-weight: bold;
  border: 2px solid #f15a22;
  margin-top: -40px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}

.breadcrumbNotActive {
  background-color: white;
}

.breadcrumbActive {
  background-color: #f15a22;
}

.breadcrumbText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 1.5em;
}

.tab {
  overflow: hidden;
  display: none;
}

.tab button {
  text-align: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  text-decoration: underline;
}

.tabcontent {
  text-align-last: center;
  width: 60%;
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  margin: auto;
  font-weight: 300;
}

/*Nyt layout slut*/

/*Dashboard start*/
* {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
}

.dashboardGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0px 10px 100px 10px;
}

.one {
  grid-column: 1 / 1;
  grid-row: 1/ 6;
  background-color: #ffffff;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.two {
  grid-column: 3 / 2;
  grid-row: 1/6;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
}

.three {
  grid-column: 4 / 3;
  grid-row: 1 / 2;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.four {
  grid-column: 4 / 3;
  grid-row: 2 / 4;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.five {
  grid-column: 4 / 3;
  grid-row: 4 / 5;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.six {
  grid-column: 3 / 3;
  grid-row: 6/ 5;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

/* The container */
.container {
  display: block;
  position: relative;
  margin: 12px 50px 0px 50px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  padding: 50px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 2px black solid;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #eeeeee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #f15a22;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

.loadLayoutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.loadLayoutSection a {
  margin: 10px;
}

.loadButton {
  background-color: #f15a22;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.nytLayoutButton {
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  color: #f15a22;
  border: 2px solid #f15a22;
  border-radius: 3px;
  width: 90px;
  height: 30px;
}

.loadLayoutGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 25px 100px 10px 100px;
}

.oneLoad {
  grid-column: 1 / 1;
  grid-row: 1/ 6;
  background-color: #ffffff;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.twoLoad {
  grid-column: 2 / 2;
  grid-row: 1/6;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
}

/*Dashboard Slut*/

/*Mediaqueries*/
@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked+ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .nav-links:hover {
    color: white;
    text-decoration: none;
  }
}

/*Mediaqueries slut*/