@charset "UTF-8";

* {
  box-sizing: border-box;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
html{
  scroll-behavior: smooth;
}

/*Loginside*/
.login {
  margin-top: 5rem;
  text-align: center;
}

.loginLogo {
  width: 100%;
  height: auto;
}

.loginInput input[type="text"],
.loginInput input[type="password"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginInput button {
  background-color: #f15a22;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

.loginInput a {
  text-decoration: none;
  color: white;
}

/*Loginside slut*/

/*Navbar*/
.navbar {
  top: 0;
  width: 100%;
  font-size: 18px;
  background-color: #212529;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #eeeeef;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 20px;
}

.nav-links {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}

.navbar-toggle {
  vertical-align: middle;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: #1b2021;
  font-size: 24px;
}

#chkToggle {
  display: none;
}

#chkToggle:checked+ul.main-nav {
  display: block;
}

li a:hover {
  text-decoration: none;
}

.fa {
  color: white;
}

/*Navbar slut*/

/*Nyt layout*/
.breadcrumb {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.breadcrumbContainer {
  width: 70%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  border-top: 2px solid #f15a22;
  padding-top: 15px;
  margin-top: 15px;
}

.breadcrumbContainer div {
  font-weight: bold;
  border: 2px solid #f15a22;
  margin-top: -40px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
}

.breadcrumbNotActive {
  background-color: white;
}

.breadcrumbActive {
  background-color: #f15a22;
}

.breadcrumbText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 1.5em;
}

.tabTitel {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.tab {
  overflow: hidden;
  display: none;
}

.tab button {
  text-align: center;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button.active {
  text-decoration: underline;
}

.tabcontent {
  width: 60%;
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  margin: auto;
  font-weight: 300;
}

.tabButton {
  margin-top: 2rem;
  text-align: center;
}

.frem {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 40px;
  line-height: 20px;
  color: #FFFFFF;
  width: 100px;
  font-size: 16px;
  padding: 8px;
  background-color: #F15A22;
  border: solid #F15A22 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.tilbage {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 40px;
  line-height: 20px;
  color: #F15A22;
  background-color: rgba(0, 0, 0, 0.0);
  width: 100px;
  font-size: 16px;
  padding: 8px;
  border: solid #F15A22 3px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.notActive {
  color: grey;
}

.formGrid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}

.nytlayout input[type=text],
.nytlayout input[type="number"],
.nytlayout select {
  width: 90%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 3px;
}


/* Nytlayout */
.checkboxContainerDashboard {
  display: block;
  position: relative;
  margin: 12px 50px 0px 50px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainerDashboard input {
  padding: 50px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 2px black solid;
  border-radius: 3px;
}

.checkboxContainerDashboard:hover input~.checkmark {
  background-color: #eeeeee;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainerDashboard input:checked~.checkmark {
  background-color: #f15a22;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainerDashboard input:checked~.checkmark:after {
  display: block;
}

/*Nyt layout slut*/

/*Dashboard start*/
* {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
}

.forsideKnap {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.loadLayoutSection select {
  width: 20%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 3px;
}

.dashboardGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 0px 10px 100px 10px;
}

.one {
  grid-column: 1 / 1;
  grid-row: 1/ 6;
  background-color: #ffffff;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.two {
  grid-column: 3 / 2;
  grid-row: 1/6;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
}

.three {
  grid-column: 4 / 3;
  grid-row: 1 / 2;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.four {
  grid-column: 4 / 3;
  grid-row: 2 / 4;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.five {
  grid-column: 4 / 3;
  grid-row: 4 / 5;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.six {
  grid-column: 3 / 3;
  grid-row: 6/ 5;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

/* The container */
.checkboxContainerLayout {
  display: block;
  position: relative;
  margin: 12px 50px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainerLayout input {
  padding: 50px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkLayout {
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 2px black solid;
  border-radius: 3px;
}

.checkmarkLayoutStor {
  position: absolute;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border: 2px black solid;
  border-radius: 3px;
}

.checkboxContainerLayout:hover input~.checkmarkLayout {
  background-color: #eeeeee;
}

.checkboxContainerLayout input:checked~.checkmarkLayout {
  background-color: #f15a22;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkLayout:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainerLayout input:checked~.checkmarkLayout:after {
  display: block;
}

.produktFarver{
  padding-left: 50px;
  font-size: 14px;
}

.loadLayoutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.loadLayoutSection a {
  margin: 10px;
}

.loadButton {
  background-color: #f15a22;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 70px;
  height: 30px;
  border-radius: 3px;
}

.nytLayoutButton {
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  color: #f15a22;
  border: 2px solid #f15a22;
  border-radius: 3px;
  width: 90px;
  height: 30px;
}

.loadLayoutGridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 25px 100px 10px 100px;
}

.oneLoad {
  grid-column: 1 / 1;
  grid-row: 1/ 6;
  background-color: #ffffff;
  border: 3px solid #707070;
  border-radius: 3px;
  text-align: center;
}

.twoLoad {
  grid-column: 2 / 2;
  grid-row: 1/6;
  background-color: #f7f5f5;
  border: 3px solid #707070;
  border-radius: 3px;
}

.linkActive {
  color: #F15A22;
}



/*Dashboard Slut*/

/*Manual*/

.manualContainer {
  background-color: #FFFFFF;
  display: flex;
  height: 100%;
}

.manual-nav {
  background-color: #f1f1f1;
  display: flex;
  width: 220px;
  height: 100%;
  padding-top: 20px;
  flex-direction: column;
  align-items: flex-start;
}
/*
.manualItem {
  background-color: #ffffff;
  flex-grow: 1;
}
*/

.manualGrid{
  padding:15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#inner {
  width: 60%;
  margin: 0 auto;
}

.manual-nav li {
  list-style: none;
  padding: 25px;
  width: 250px;
}

.manual-nav li a {
  display: block;

}

.manual-nav li a:hover {
  color: #F15A22;
}

.manual-links {
  text-decoration: none;
  color: inherit;
}

.manual-links::before {
  display: inline-block;
  padding-right: 8px;
  content: "-";
  transition: transform 0.3s ease-out;
}

.manual-links:hover::before {
  content: ">";
  transform: translateX(4px);
}

.manual-sider {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 130%;
}

span.black {
  background: #000;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  margin-top: 10px;
  text-align: center;
  width: 1.6em;
  transition: 300ms;
}
span.black:hover {
  cursor: pointer;
  background: #F15A22;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F15A22;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}
/*Manual slut*/
/*Mediaqueries*/
@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #chkToggle:checked+ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

}

/*Mediaqueries slut*/
